form {
    width: 300px;
    margin: 0 auto;
}

form input {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
}

form button {
    width: 100%;
    padding: 10px;
    border: none;
    background-color: #0275d8;
    color: #fff;
    border-radius: 5px;
}