{% extends "base_generic.html" %}
{% load static %}
{% block content %}
<title>{% block title %}Register{% endblock %}</title>
<link rel="stylesheet" href="{% static 'StudyApp/css/register.css' %}">
<form method="post">
    {% csrf_token %}
    {% for field in form %}
        <div class="form-group">
            {{ field.label_tag }}
            {{ field }}
            {% if field.help_text %}
                <small class="form-text text-muted">{{ field.help_text }}</small>
            {% endif %}
            {% for error in field.errors %}
                <div class="alert alert-danger">{{ error }}</div>
            {% endfor %}
        </div>
    {% endfor %}

    <button type="submit">Register</button>
    <a href="{% url 'home' %}" class="register-link">Back to Login</a>
</form>
{% endblock %}